<link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />

<script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const player = Plyr.setup('.js-player');
    });
</script>

<div class="js-player" id="player">
    <iframe
        src="https://player.vimeo.com/video/{{ include.vimeo }}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
        allowfullscreen allowtransparency allow="autoplay"></iframe>
</div>